body {
  background: teal;
  font-family: "Dancing Script", serif;
  /* 	fallback for old browsers */
  background: #2c3e50;
  background: -webkit-linear-gradient(to right, #4ca1af, #2c3e50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca1af, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
