.ListItem {
	padding: 0;
	background: #fff;
	line-height: 40px;
	color: #1a75a2;
	text-align: left;
	font-size: 1rem;
}

.ListItem .strike-through {
	text-decoration: line-through;
	color: grey;
}

.ListItem form {
	display: inline;
}

/* .ListItem:hover span {
	width: 32px;
	transform: scale(1, 1);
} */

.ListItem .trash {
	color: #ffffff;
	background: #d82207;
}

.ListItem .edit {
	margin-right: 32px;
	color: #ffffff;
	background: #bdba10;
}

.ListItem .content {
	font-size: 1.2rem;
	line-height: 38px;
}

.ListItem .cancel {
	/* margin-right: px; */
	color: #ffffff;
	background: #bdba10;
}

.ListItem .listItemButtons {
	width: 32px;
	/* width: 0; */
	text-align: center;
	height: 40px;
	display: inline-block;
	/* transform: scale(0, 1); */
	/* transition: 0.2s linear; */
}

.ListItem input {
	width: 254px;
	padding: 2px 20px;
	background: none;
	line-height: 31px;
	font-size: 1rem;
	color: #1a75a2;
	border: 3px solid #1a75a2;
}

/* .ListItem input:hover {
	width: 226px;
}
.ListItem:hover input {
	width: 226px;
} */

.ListItem input:focus {
	border: 3px solid #1a75a2;
	background: white;
	outline: none;
}
